/* Import Inter font to match Figma UI
 * https://rsms.me/inter/
 * https://github.com/rsms/inter/blob/master/LICENSE.txt
 */
@import url("https://rsms.me/inter/inter.css");
html {
    font-family: "Inter", sans-serif;
    font-size: 11px;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

body {
    margin: 0;
}

#root {
    height: 100%;
}

.swatch-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: stretch;
    margin-inline-end: calc(var(--design-unit) * 2px);
}

.swatch-grid > * {
    margin-bottom: calc(var(--design-unit) * 3px);
}

.swatch-stack {
    display: flex;
    flex-direction: column;
}

.swatch-stack > * {
    padding: calc(var(--design-unit) * 2px) 0;
    padding-inline-start: calc(var(--design-unit) * 4px);
    padding-inline-end: calc(var(--design-unit) * 1px);
}

.inset {
    padding: 0 calc(var(--design-unit) * 4px);
}

.applied-recipe {
    display: flex;
    justify-content: space-between;
    padding-inline-start: calc(var(--design-unit) * 4px);
    padding-inline-end: calc(var(--design-unit) * 2px);
}

.applied-recipe > div {
    display: flex;
    align-items: center;
}

.applied-recipe > div > span {
    margin-inline-end: 8px;
}

.button {
    color: #FFF;
    background: #18A0FB;
    outline: none;
    height: 32px;
    border-radius: calc(var(--corner-radius) * 2px);
    padding: 0 32px;
    margin: 16px 0;
    border: none;
    margin-inline-start: calc(var(--design-unit) * 4px);
}

.button:hover {
    background: rgb(22, 148, 231);
}
/* scrollbar */
/* For the "inset" look only */
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    margin: 1px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
}

html:hover ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.13);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.13);
}

/* Color Picker overrides */

.block-picker {
    box-shadow: none !important;
    width: 100% !important;
}

.block-picker input {
    max-width: 118px;
    margin-left: 64px;
    height: 24px !important;
}

.block-picker > div:first-child,
.block-picker > div:nth-child(2) > div {
    display: none;
}

.block-picker > div:nth-child(2) {
    height: 24px !important;
    width: 54px !important;
    border-radius: 2px !important;
}

.block-picker > div:nth-child(3) {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    flex-direction: column-reverse;
    margin-top: -34px;
}

.block-picker > div:nth-child(3) > div:first-child {
    margin-top: 12px;
}

.block-picker > div:nth-child(3) > div:first-child div {
    border-radius: 50% !important;
    margin-bottom: 0 !important;
}