<footer class="footer">
    <site-navigation class="in-footer">
        <site-navigation-item href="https://github.com/microsoft/fast/blob/master/LICENSE">License</site-navigation-item>
        <site-navigation-item href="https://privacy.microsoft.com/en-US/privacystatement">Privacy & Cookies</site-navigation-item>
        <site-navigation-item href="https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx">Terms of Use</site-navigation-item>
        <site-navigation-item href="https://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/usage/general">Trademarks</site-navigation-item>
        <site-navigation-item>
            <p>&copy; 2020 Microsoft</p>
        </site-navigation-item>
        <fast-anchor
            href="https://www.fast.design"
            class="logo"
            slot="end"
            appearance="lightweight"
            aria-label="Home"
            alt="FAST"
        >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-brand" viewBox="0 0 140 123">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M124.8 64.4l-5-.6c-.9-.1-1.7.5-1.8 1.4a40.3 40.3 0 01-62.7 26.5c-2.5-1.7-1.6-5.3 1.3-6l21-5.7a3.3 3.3 0 10-1.6-6.4l-27.1 7.2h-.3L36 84.4a.9.9 0 01-.1 0 3.3 3.3 0 101.7 6.4h.3c2-.6 4 .1 5.5 1.6A48.6 48.6 0 0082 106.9a48.6 48.6 0 0044.2-40.7c.1-.8-.5-1.6-1.4-1.8zM23.5 60.2a5.4 5.4 0 00-.6 0l-10.4 2.9a3.3 3.3 0 11-1.7-6.4l16-4.3c2-.6 3.5-2.3 4-4.4a48.6 48.6 0 0124.6-32.4 48.6 48.6 0 0159 10.6c.7.6.6 1.7-.1 2.2l-3.9 3.3-1.2 1A40.3 40.3 0 0041 42.8c-1.1 2.8 1.5 5.4 4.4 4.6l2.2-.6a3.3 3.3 0 011.7 6.4l-7.6 2a5.3 5.3 0 00-.6.2l-17.6 4.8z" fill="#FF4387"/>
                <rect x="69.9" y="56.9" width="6.6" height="16.5" rx="3.3" transform="rotate(75 69.9 57)" fill="#FF4387"/>
                <rect x="48.3" y="62.7" width="6.6" height="49.8" rx="3.3" transform="rotate(75 48.3 62.7)" fill="#FF4387"/>
                <rect x="94.4" y="50.6" width="6.6" height="19.8" rx="3.3" transform="rotate(75 94.4 50.6)" fill="#FF4387"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M97.7 52a21.1 21.1 0 1040.9-11 21.1 21.1 0 00-40.9 11zm20.4 9.4c8.5 0 15.3-6.7 15.3-15 0-8.2-6.8-14.9-15.3-14.9s-15.2 6.7-15.2 15c0 8.2 6.8 14.9 15.2 14.9z" fill="#FF4387"/>
            </svg>
        </fast-anchor>
    </site-navigation>
</footer>
