.site-wrapper,
.site-wrapper .footer {
  box-sizing: border-box;
}


.site-wrapper .footer {
  background-color: var(--background-color) !important;
}

.site-wrapper .footer site-navigation-item p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
