html {
    --container-background: #3B3B3B;
    --mobile-menu-bar-height: 100px;
    --desktop-footer-height: 178px;
    --mobile-footer-height: 283px;
    --mobile-pane-width: 260;
    --footer-background-color: #181818;
    --fast-tooling-l1-color: #3B3B3B;
    --fast-tooling-l3-color: #2B2B2B;
    --fast-tooling-l4-color: #1B1B1B;
}

@font-face {
    font-family: SegoeUIVF;
    src: url("https://res.cloudinary.com/fast-dna/raw/upload/v1558051831/SegoeUI-Roman-VF_web.ttf") format('truetype');
    font-weight: 1 1000;
}

@font-face {
    font-family: Segoe UI;
    src: url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Normal/latest.woff2") format('woff2');
}

body, html {
    font-family: SegoeUIVF, Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    background: var(--fast-tooling-l1-color);
    width: 8px;
    height: 8px;
}

html::-webkit-scrollbar-thumb {
    background: var(--fast-tooling-l3-color);
    border-radius: 8px;
}

#root {
    width: 100%;
}

.pane {
    grid-row-start: 1;
    grid-row-end: 1;
    max-height: 100vh;
    overflow: auto;
    background: var(--fast-tooling-l4-color, #1B1B1B);
}

.pane::-webkit-scrollbar {
    background: var(--fast-tooling-l1-color);
    width: 8px;
    height: 8px;
}

.pane::-webkit-scrollbar-thumb {
    background: var(--fast-tooling-l3-color);
    border-radius: 8px;
}

.pane__start {
    grid-column-start: 1;
    
}

.pane__end {
    grid-column-start: 3;
}

.navigation {
    height: auto !important;
}

.container {
    display: grid;
    background: var(--container-background);
    grid-template-columns: 260px auto 260px;
    grid-template-rows: auto var(--desktop-footer-height);
    height: calc(100vh + var(--desktop-footer-height));
}

.canvas {
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px auto;
    max-height: 100vh;
}

.canvas-overlay {
    display: none;
}

.canvas-content {
    display: grid;
    grid-template-rows: calc(50vh - 20px) calc(50vh - 20px);
}

.canvas-content.canvas-content__dev-tools-hidden {
    grid-template-rows: auto 72px;
}

.menu-bar {
    grid-row-start: 1;
    z-index: 1;
}

.canvas-menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 14px;
}

.menu-item-region {
    display: flex;
}

.preview {
    grid-row-start: 1;
    overflow: auto;
}

.dev-tools {
    position: relative;
    grid-row-start: 2;
    overflow: hidden;
}

.dev-tools-trigger {
    position: absolute;
    top: 8px;
    right: 16px;
}

.mobile-menu-bar {
    display: none;
}

.footer-region {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.logo {
    background: var(--fast-tooling-l4-color) !important;
}

@media screen and (max-width: 899px) {
    .container {
        grid-template-columns: calc(var(--mobile-pane-width) * 1px) auto calc(var(--mobile-pane-width) * 1px);
        grid-template-rows: auto var(--mobile-footer-height);
        margin-left: calc(var(--mobile-pane-width) * -1px);
        width: calc((var(--mobile-pane-width) * 2 * 1px) + 100vw);
        transition: margin-left 0.2s ease-in;
        height: calc(100vh + var(--mobile-footer-height));
    }

    .container.container__form-visible {
        margin-left: calc(var(--mobile-pane-width) * 2 * -1px);
    }

    .container.container__navigation-visible {
        margin-left: 0;
    }

    .canvas {
        width: 100vw;
        position: relative;
    }

    .canvas-menu-bar {
        background: #2F2F2F !important;
    }

    .canvas-overlay {
        opacity: 0;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #0B0B0B;
        transition: opacity 0.2s ease-in;
    }

    .canvas-overlay.canvas-overlay__active {
        opacity: 0.85;
        z-index: 2;
    }

    .canvas-content {
        height: calc(100vh - var(--mobile-menu-bar-height));
        margin-top: var(--mobile-menu-bar-height);
        overflow: hidden;
        grid-template-rows: calc(50%) calc(50%);
    }

    .canvas-content .devToolsTabPanel_region {
        height: calc(50vh - 130px);
        padding: 0px 12px;
    }

    .pane {
        width: calc(var(--mobile-pane-width) * 1px);
        --fast-tooling-l4-color: #1F1F1F;
    }

    .mobile-pane-trigger {
        background: none;
        border: none;
        padding: 14px;
    }

    .mobile-pane-trigger:focus {
        outline: none;
    }

    .menu-bar {
        position: fixed;
        display: grid;
        grid-template-rows: 60% 40%;
        z-index: 1;
        height: var(--mobile-menu-bar-height);
        width: 100vw;
    }

    .mobile-menu-bar {
        display: block;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
    }

    .footer-region {
        padding: 0 calc(var(--mobile-pane-width) * 1px);
        background: var(--footer-background-color);
    }
}
