html {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background-color: var(--fill-color);
    color: var(--neutral-foreground-rest);
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
}

.body-provider {
    isolation: isolate;
}

.menu-opened {
    --width-offset: 0;
    padding-right: calc(var(--width-offset) * 1px);
    overflow: hidden;
}

.section-header {
    max-width: 900px;
}
