.logo::part(content)::before {
    background: transparent;
}

.logo:focus-visible::part(content)::before {
    background: var(--neutral-foreground-rest);
}

.logo::part(content)::before {
    top: calc(100% - (var(--outline-width) * 1px));
}

.logo svg {
    display: block;
    width: 45px;
    height: 40px;
    margin-inline-end: 10px;
    shape-rendering: geometricPrecision;
}
