.site-wrapper {
    --wrapper-max-width: 100%;
    --wrapper-gutter: 0;
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns:
            minmax(var(--wrapper-gutter), 1fr)
            minmax(0, var(--wrapper-max-width))
            minmax(var(--wrapper-gutter), 1fr);
    isolation: isolate;
}

@media screen and (min-width: 900px) {
    .site-wrapper {
        --wrapper-gutter: 5vw;
        --wrapper-max-width: 800px;
    }
}

@media screen and (min-width: 1331px) {
    .site-wrapper {
        --wrapper-max-width: 1200px;
    }
}
