:root {
  /* FIXME: Is there a better way to set default props to prevent FOUC? */
  --background-color: #242424;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--neutral-foreground-rest);
  margin: 0;
  padding: 0;
}

.body-provider {
  background-color: var(--background-color);
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) minmax(0px, 1200px) minmax(5vw, 1fr);
}

.header {
  grid-column: 2;
}

.header site-navigation {
  align-items: center;
  height: 94px;
  justify-content: space-between;
}

.anchor-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 30px;
  padding: 0;
}

.logo svg {
  width: 114px;
  height: 40px;
}

.nav-button {
  display: none;
}

.section {
  grid-column: 2;
  color: var(--neutral-foreground-rest);
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  margin: 20px 0;
}

.section-badge {
  color: var(--accent-fill-rest);
  font-weight: bold;
}

.section-heading-hero {
  font-size: 60px;
  line-height: 72px;
  margin: 0;
}

.section-heading {
  font-size: 46px;
  line-height: 56px;
  margin: 0;
}

.divider {
  grid-column: 2;
  margin-top: 100px;
  margin-bottom: 60px;
}

.footer {
  grid-column: 2;
  display: flex;
  align-items: center;
  margin-bottom: 84px;
}

@media screen and (max-width: 1330px) {
  .wrapper {
    grid-template-columns: minmax(5vw, 1fr) minmax(0px, 800px) minmax(5vw, 1fr);
  }
}

@media screen and (max-width: 740px) {
  .wrapper {
    grid-template-columns: minmax(5vw, 1fr) minmax(0px, auto) minmax(5vw, 1fr);
  }

  .header {
    grid-column: 1/4;
    box-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.08), 0px 1.6px 5px rgba(0, 0, 0, 0.15);
  }

  .header ul {
    flex: 0 0 auto;
    flex-direction: column;
  }

  .header .logo {
    position: absolute;
    top: 28px;
    left: 30px;
    z-index: 2;
  }

  .github-link {
    margin-inline-start: 30px;
  }

  site-navigation {
    position: relative;
    display: flex;
    align-items: center;
  }

  .header site-navigation::before {
    content: "";
    position: absolute;
    top: 0;
    height: 94px;
    width: 100%;
    background: var(--background-color);
    z-index: 2;
  }

  site-navigation .anchor-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    height: calc(100vh - 94px);
    background-color: rgba(0, 0, 0, 0.95);
    transform: translateY(-100%);
    transition: transform 0.1s ease-in-out;
    z-index: 1;
  }

  site-navigation.opened .anchor-wrapper {
    transform: translateY(0);
  }

  site-navigation::part(nav-button) {
    display: block;
    margin-inline-start: auto;
    margin-inline-end: 20px;
    z-index: 2;
  }

  .footer site-navigation {
    height: 100%;
    justify-content: flex-start;
  }

  .footer ul {
    flex-direction: column;
  }

  .footer site-navigation::part(nav-button) {
    display: none;
  }
}
