:root {
  /* FIXME: Is there a better way to set default props to prevent FOUC? */
  --background-color: #242424;
}

body {
  background-color: var(--background-color);
  color: var(--neutral-foreground-rest);
  margin: 0;
  padding: 0;
}

.body-provider {
  background-color: var(--background-color);
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) minmax(0px, 1600px) minmax(5vw, 1fr);
}

.header {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-navigation-item {
  margin: 0 30px;
}

.section {
  grid-column: 2;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  margin: 20px 0;
}

.section-component {
  --card-width: 410px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* This creates the blur and background color changes on hover */
/* start */
.section-component:hover fast-hover-card{
  filter: blur(2px);
}

.section-component:hover fast-hover-card:hover{
  /* background: linear-gradient(349.8deg, rgba(143, 68, 95, 0.3) 20.91%, rgba(148, 81, 73, 0.3) 99.75%); */
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1);
  border-radius: var(--design-unit);
  filter: blur(0);
}
/* end */

.section-badge {
  color: var(--accent-fill-rest);
  font-weight: bold;
}

.section-heading-hero {
  font-size: 60px;
  line-height: 72px;
  margin: 0;
}

.section-heading {
  font-size: 46px;
  line-height: 56px;
  margin: 0;
}

.divider {
  grid-column: 2;
  margin-top: 100px;
  margin-bottom: 60px;
}

.footer {
  grid-column: 2;
  margin-bottom: 84px;
}

.footer-navigation-item {
  margin-inline-end: 50px;
}
