name: Fast Element benchmark jobs

on: [pull_request]

jobs:
    setup:
        name: Setup Tachometer Reporting
        runs-on: ubuntu-latest
        steps:
            - name: Initialize tachometer comment
              uses: andrewiggins/tachometer-reporter-action@v2
              with:
                  initialize: true
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Get yarn cache directory path
              id: yarn-cache-dir-path
              run: echo '::set-output name=dir::$(yarn cache dir)'

            - name: Set up node_modules cache
              uses: actions/cache@v2
              id: yarn-cache
              with:
                  path: |
                      ${{ steps.yarn-cache-dir-path.outputs.dir }}
                      node_modules
                      */*/node_modules
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-
            - name: Install package dependencies
              run: yarn install --frozen-lockfile --ignore-scripts --prefer-offline
            - name: Prepare workspaces
              run: yarn prepare

    test_local:
        name: Run all operations for test benchmark create 10k
        needs: [setup]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: "16.x"
            - run: yarn install --frozen-lockfile --ignore-scripts --prefer-offline
            - name: Run tachometer
              run: |
                  cd packages/utilities/fast-benchmarks
                  yarn install
                  yarn run benchmark:fast-element:test:local

            - name: Upload results
              uses: actions/upload-artifact@v2
              with:
                  name: results
                  path: packages/utilities/fast-benchmarks/results/fast-element_test-create10k.json
    test:
        name: Run all operations for test benchmark update 10th element
        needs: [setup]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: "16.x"
            - run: yarn install --frozen-lockfile --ignore-scripts --prefer-offline
            - name: Run tachometer
              run: |
                  cd packages/utilities/fast-benchmarks
                  yarn install
                  yarn run benchmark:fast-element:test

            - name: Upload results
              uses: actions/upload-artifact@v2
              with:
                  name: results
                  path: packages/utilities/fast-benchmarks/results/fast-element_test-update10th.json
    # update10th:
    #     name: Run update 10th element benchmark
    #     needs: [setup]
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v2
    #         - uses: actions/setup-node@v1
    #           with:
    #               node-version: "16.x"
    #         - name: Run tachometer and generate results file
    #           run: |
    #               cd packages/utilities/fast-benchmarks
    #               yarn install
    #               yarn run benchmark:fast-element:update10th

    #         - name: Upload results
    #           uses: actions/upload-artifact@v2
    #           with:
    #               name: results
    #               path: packages/utilities/fast-benchmarks/results/fast-element_test-update10th.json

    report_results:
        name: Report Results
        needs: [test, test_local]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/download-artifact@v2
              with:
                  name: results
                  path: packages/utilities/fast-benchmarks/results
            # Read all the results and post comment
            - name: Report Tachometer Result
              uses: andrewiggins/tachometer-reporter-action@v2
              with:
                  report-id: fast-element-test
                  name: results
                  path: packages/utilities/fast-benchmarks/results/*.json
